
body {
  background-color: #3D9970;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.page-icon {
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
}

.nav-button {
  background-color: #3D9970;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5%;
  width: 200px;
}

.nav-button:hover {
  background-color: #FFFFFF;
  color: #3D9970;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

h1 {
  font-size: 3em;
  font-weight: lighter;
}

.intro-banner {
  display: flex;
  justify-content: center;
  margin: 2%;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.plant-card {
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0.2em 0.1em 0.5em #3d3d3d;
  color: #000000;
  margin: 1% 0%;
  width: 24%;
}

.plant-card:hover {
  opacity: 0.6;
  transition-duration: 1s;
}

.text-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-link {
  background-color: #3d3d3d;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 4%;
}

.image-area {
  position: relative;
}

.info-icon {
  font-size: 2em;
  left: 3%;
  opacity: 0.7;
  position: absolute;
  top: 3%;
  z-index: 1;
}

.card-img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .plant-card {
    width: 32%;
  }
}

@media only screen and (max-width: 800px) {
  .plant-card {
    width: 49%;
  }
}

@media only screen and (max-width: 600px) {
  .plant-card {
    width: 90%;
  }
}
