
body {
  background-color: #3D9970;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
}

.nav-button {
  background-color: #3D9970;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5%;
  width: 200px;
}

.nav-button:hover {
  background-color: #FFFFFF;
  color: #3D9970;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
